enable-pre-post-scripts=true
enable-scripts=true
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=bcrypt
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
